.navigation-bar-root{
  border-bottom:1px;
  border-bottom-color:black;
  border-bottom-style:solid;
  padding-top:8px;
  padding-bottom:8px;
  
}

.navigation-bar-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    margin: 0px;
   
  }
  
  .navigation-link-selected {
    color: red;
  }